@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,300;1,100;1,500&family=Poppins:wght@200;300;400;500;600;800;900&display=swap");

/*------------------------------ common sections----------------------------------- */

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* --------------------------------navigation bar styles--------------------------------- */

.container {
  padding: 2rem 5rem 1rem 5rem;
}

.header-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-side .brand-logo a {
  font-size: 24px;
  font-weight: 700;
}

.header-side a {
  text-decoration: none;
  color: black;
  padding-right: 2rem;
}

/* -----------------------------------------top page styles ---------------------------------------- */

.top-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 475px;
}
.half-width {
  width: 50%;
}

.section-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
}
.section-heading:hover {
  transform: scale(0.7);
  transition: 0.5s all ease;
}
.influencer a {
  text-decoration: none;
  color: white;
  background-color: #e6425e;
  padding: 10px 40px;
  border-radius: 2rem;
}
.influencer a:hover {
  background-color: #b9134f;
  color: white;
}

.influencer p {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 2.5rem;
  color: #3a3a3a;
}

.camera-section img {
  align-items: center;
}

/* --------------------------------------------brand logos------------------------------ */

.brand-container .brand-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 1rem 1rem 1rem;
}

hr {
  border: 1px solid #f3f1ff;
  width: 1188px;
}

/* ----------------------------------product items------------------------------------- */

.section-popular {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  color: black;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  padding: 2rem;
}

.product {
  background-color: #f4f3fa65;
  width: 329px;
  height: 476px;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: 0.1px 0.1px 5px #aaaaaa;
}
.product:hover {
  transform: scale(0.8);
  transition: 0.5s all ease;
}

.product img {
  border-radius: 0.8rem;
}

.product-title {
  font-weight: 550;
}
.product-price {
  font-weight: 500;
}

.product-review {
  color: #fb8200;
}
.product-review span {
  color: black;
}
.description {
  font-weight: 200;
  padding-right: 1rem;
}

.see-more a {
  text-decoration: none;
  color: #e6425e;
  float: right;
  padding-right: 5rem;
}
.see-more a:hover {
  color: #b9134f;
}

/*------------------------------------------- last pages css--------------------------------------*/

.last-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.last-page-column p {
  padding-bottom: 2rem;
}
.last-page-column a {
  text-decoration: none;
  color: white;
  background-color: #e6425e;
  padding: 10px 40px;
  border-radius: 2rem;
}
.last-page-column a:hover {
  background-color: #b9134f;
  color: white;
}

/* ------------------------------------contact sections-------------------------------------- */

.container-form {
  padding: 10px;
  align-items: center;
}

.screen {
  position: relative;
  background: #f3f1ff;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #e6425e;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: gray;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

button,
input {
  font-weight: 700;
  letter-spacing: 1.4px;
}

/* -----------------------------------footers css------------------------------------ */

.footer-part {
  height: 240px;
  background-color: #0a0826;
  text-align: center;
  color: white;
  padding-top: 3rem;
}
.footer-heading {
  font-weight: 500;
}

.icons a {
  color: white;
  padding-right: 1rem;
  align-items: center;
}

/* ---------------------responsive part css--------------------------- */

@media only screen and (max-width: 688px) {
  .header-side {
    display: none;
  }
  .container {
    width: 100%;
    padding: 30px 0;
  }
  .top-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .camera-section img {
    align-items: center;
    padding-top: 2rem;
    width: 75%;
    height: 70%;
  }
  .brand-container .brand-logo {
    display: none;
  }
  hr {
    display: none;
  }

  .section-popular {
    padding-top: 50rem;
  }

  .products-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .header-side {
    display: none;
  }
  .container {
    width: 100%;
    padding: 30px 0;
  }
  .top-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  hr {
    display: none;
  }
  .camera-section img {
    align-items: center;
    padding-top: 2rem;
    width: 70%;
    height: 80%;
  }
  .brand-container .brand-logo {
    padding-top: 35rem;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .last-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
